.typewriter-text {
  clip-path: inset(0 100% 0 0);

  animation: typing 1s steps(40, end) forwards;

  &::after {
    content: '|'; /* The cursor character */
    color: var(--retro-green-light-phosphor); /* Cursor color */
    animation: blink-caret 1s step-end forwards;
    display: inline-block; /* Ensures it's positioned next to the text */
    margin-left: 0.1em; /* Small space between text and cursor */
  }
}

/* Keyframes for the typing animation */
@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  } /* Clip 100% from the right */
  to {
    clip-path: inset(0 0% 0 0);
  }
}

/* Keyframes for the blinking cursor animation */
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  } /* Change color to your retro green */
}
