@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import './styles/colorScheme.css';
@import './styles/reactAriaOverrides.css';
@import './styles/animations.css';

/* Generic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: var(--retro-green-vibrant);
  text-shadow: 0 0 5px var(--retro-green-classic);
}
