@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import 'tailwindcss';

@import './styles/colorScheme.css';
@import './styles/reactAriaOverrides.css';
@import './styles/animations.css';

/* Generic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--retro-green-vibrant);
  text-shadow: 0 0 5px var(--retro-green-classic);
  background: rgb(0, 21, 0);
}

:root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--retro-green-vibrant);
  text-shadow: 0 0 5px var(--retro-green-classic);

  line-height: 1.5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
